.parallax { 
    height:400px; 
    margin-top:0px;
    /*background-position:25%;*/
    background-position: center top;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    background-size:cover;
    padding-left:0px;padding-right:0px;
}

.parallax p{
    margin: 50px;
    color:black;
    background-color: rgba(247, 247, 247, 0.6);
    font-family: "RobotoCondensedRegular", sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.parallax h4{
    padding:50px;
    color:black;
    background-color: rgba(247, 247, 247, 0.6);
    text-transform: uppercase;
    font-family: "RobotoCondensedRegular", sans-serif;
    width: 50%;
}

@media only screen and (max-width: 767px){
    .parallax{
        display:none;
    }
    
    .parallax h4{
        padding: 10px;
        width: 100%;
    }
    .parallax p{
        margin-top: 75px;
        font-size: 1em;
    }
}

#page-content {
    min-height:950px;
}