/*.contact-info-wrap{
	border: #c6bebe 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.9)), url(../img/balonbasket.png);
}*/

.textblock{
	color: black;
	background-color: rgba(255,255,255,.70);
    width: 100%;
    text-align: justify;
}

.backgr{
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.mySlides{
	width: 100%;
}
#slideshow {
  position: relative;
}

#slideshow > div {
  position: absolute;
}
.icon-wrap p {
	font-family: 'Roboto Condensed', sans-serif;
}
.contenido{
	margin-top: -20px;
}
.text{
	margin-top: -10px;
}
.titulo{
	color: #eb7c00;
}

.owl-carousel.owl-drag .owl-item{
    padding:0px 15px;
}



/*
    NUEVO ESTILO DE FORMULARIO
    POR EL MOMENTO, APLICAR 2-B. Esto está en cafeteria y tu cole, jornada puertas abiertas, contacto
*/
.fc-1{
    border:1px solid #aaa !important;
}

.fc-1::placeholder{
    color: #555 !important;
}

.fc-2{
    border:1px solid #eb7c00 !important;
}

.fc-2::placeholder{
    color: #eb7c00 !important;
}

.fc-2-b{
    border-bottom:3px solid #eb7c00 !important;
    border-left:none !important;
    border-right:none !important;
    border-top:none !important;
    background-color:#f0f0f0;
}

.fc-2-b::placeholder{
    color: #555 !important;
}

.fc-3{
    border:2px solid #eb7c00 !important;
}

.fc-3::placeholder{
    color: #555 !important;
}

.fc-4{
    border:2px solid #eb7c00 !important;
    background-color:#f0f0f0;
}

.fc-4::placeholder{
    color: #555 !important;
}

.fc-5{
    border-bottom:3px solid #eb7c00 !important;
    border-left:none !important;
    border-right:none !important;
    border-top:none !important;
    background-color:#f0f0f0;
}

.fc-5::placeholder{
    color: #555 !important;
}

.fc-6{
    border:1px solid #aaa !important;
}

.fc-6::placeholder{
    color: #555 !important;
}


.btn-link-contacto-suscribirse{
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#eb7c00;
}

.btn-link-contacto-suscribirse > span {
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    color:white;
}

.btn-link-contacto-suscribirse:hover{
    background-color:#000;
    border-color:#000;
}

.btn-link-contacto-suscribirse:hover span{
    color:white;
}

#textarea-contacto{height:180px;}

#textarea-cafeteria{height:170px;}